# General
.DS_Store
.keep
.gitkeep
changelog.md
LICENSE

# Directories to ignore
#data/
#plots/
#scripts/lightning_logs/
#scripts/wandb/
#my-first-sweep/
#esdenv
#references/
#.vscode/
#wandb/
#lightning_logs/